################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Newfolder/.vs/MIS/FileContentIndex/8c749142-0ed5-4e3d-a68e-e9d7637a0d46.vsidx
